body
{
	padding-top: 100px;
	margin:25px;
	box-sizing: border-box;
}
header
{
 font-weight: bolder;
 font-size: 500%;
 text-align: center;
 text-decoration: underline;
 position: relative;
 bottom:55px;
}

@media(min-width: 992px)
{
.one
{
	background-color: maroon;
	position: relative;
	height: 400px;
	width:28%;
	float: left;
	border: 3px solid black;


}
.two
{
	background-color: darkgrey;
	position: relative;
	height: 400px;
	width:28%;
	float: left;
	margin-left: 7%;
	margin-right:7%;
	border: 3px solid black;
}
.three
{
	background-color: green;
	position:relative;
	height: 400px;
	width:28%;
	float: right;
	border: 3px solid black; 

}
.inone
{
	position: absolute;
	height: 30px;
	width: 60%;
	margin-left: 40%;
	background-color: grey;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
    
}
.intwo
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: purple;
	margin-left:40%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
}

.inthree
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: lightgreen;
	margin-left: 40%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
	
}

.a1
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.b1
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.c1
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}

}


@media (min-width: 767px) and (max-width: 991px)
{
.one1
{
	background-color: maroon;
	position: relative;
	height: 300px;
	width:48%;
	float: left;
	border: 3px solid black;


}
.two2
{
	background-color: darkgrey;
	position: relative;
	height: 300px;
	width:48%;
	float: right;
	border: 3px solid black;
}
.three3
{
	background-color: green;
	position:relative;
	height: 200px;
	width:100%;
	float: left;
	border: 3px solid black; 
	margin-top: 30px;

}
.inone1
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: grey;
	margin-left:40%;
	text-align: center;
    font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
}
.intwo2
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: purple;
	margin-left:40%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
}	


.inthree3
{
	position: absolute;
	height: 30px;
	width: 30%;
	background-color: lightgreen;
	margin-left: 70%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
	box-sizing: border-box;
 	border :1px solid black;
}

.a2
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.b2
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.c2
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
}
@media(max-width: 766px)
{
.s1
{
	background-color: maroon;
	position: relative;
	height: 250px;
	width:100%;
	border: 3px solid black;


}
.s2
{
	background-color: darkgrey;
	position: relative;
	height: 250px;
	width:100%;
	border: 3px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
}
.s3
{
	background-color: green;
	position:relative;
	height: 250px;
	width:100%;
	border: 3px solid black; 

}
.si1
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: grey;
	margin-left:40%;
	text-align: center;
    font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
}
.si2
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: purple;
	margin-left:40%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
}

.si3
{
	position: absolute;
	height: 30px;
	width: 60%;
	background-color: lightgreen;
	margin-left: 40%;
	text-align: center;
	font-weight: bolder;
 	font-size: 150%;
 	box-sizing: border-box;
 	border :1px solid black;
	
}


.a3
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.b3
{
position: absolute;
top:30px;
margin:3%;
font-weight: bold;
font-family: sans-serif;

}
.c3
{
position: absolute;
top:30px;
margin:	3%;
font-weight: bold;
font-family: sans-serif;

}
}